/*Code By Sohez*/
:root{
--rot: red;
--bg:rgb(196, 173, 130);
}
* {
  user-select: none;
}
*::selection {
  background: none;
}
*::-moz-selection {
  background: none;
}

body {
  background-color: var(--bg);
  font-family: cursive;
}
.wdt {
  width: fit-content;
  margin: auto;
  padding: 15px 20px;
}
.col-3 {
  text-align: center;
  margin: 12px;
}
#x {
  font-size: 4rem;
  font-weight: 900;
  color: red;
 
}
#o {
  font-size: 4rem;
  font-weight: 900;
  color: blue;
}
.col-11 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}
#ux {
  color: red;
  font-size: 1.2rem;
}
#uo {
  color: blue;
  font-size: 1.2rem;
}
.col-2 {
  background-color: #2f2f2f;
  border: 1px solid var(--bg);
  height: 110px;
  width: 120px;
  color: red;
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
  box-shadow: black 0px 0px 9px inset;
}
.col-2:hover {
  border: 3px solid var(--rot);
  box-shadow: var(--rot) 0px 0px 9px inset;
}
@media only screen and (max-width: 410px) {
  .col-2 {
    height: 90px;
    width: 100px;
  }
}
@media only screen and (max-width: 350px) {
  .col-2 {
    height: 70px;
    width: 80px;
  }
}
@media only screen and (max-width: 290px) {
  .col-2 {
    height: 50px;
    width: 60px;
  }
}
@media only screen and (max-width: 225px) {
  .col-2 {
    height: 40px;
    width: 50px;
  }
}
